<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>TheCSite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "stylesheet" type ="text/css" href = "{% static 'overall.css' %}">
        <link rel = "stylesheet" type ="text/css" href = "{% static 'search.css' %}">
        <link rel = "stylesheet" type ="text/css" href = "{% static 'about_us.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <nav class="main-nav">
        <img src="{% static 'CSiTE_idk.png' %}" alt="Google" class="logo">

        <ul class="main-menu">
          <a href = '/'><li>Home</li></a>
          <a href = '/discover'><li>Discover</li></a>
          <a href = '/about_us'><li>About Us</li></a>
        </ul>

        <ul class="right-menu">
            <div class="searchbar" style="position: relative;">
                <div id="sb-search" class="sb-search"></div>
            <form action="">
                <input type="search" placeholder="Search here ...">
                <i class="fa fa-search"></i>
            </form>
            <ul>
            <a href='/login/#'>{{x}}</a>
            </a>
            </ul>
        </ul>
        </nav>
        <hr>
        <br>
<ul>
        <div class="about-us-content">
            <div class="a1">
                <img src="{{ I1}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T1}}</h2>
                <p>
                    {{ D1 }}
                </p>
                <a href="{{ U1 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            <div class="a2">
                <img src="{{ I2}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T2}}</h2>
                <p>
                    {{ D2 }}
                </p>
                <a href="{{ U2 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            <div class="a3">
                <img src="{{ I3}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T3}}</h2>
                <p>
                    {{ D3 }}
                </p>
                <a href="{{ U3 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            <div class="a4">
                <img src="{{ I4}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T4}}</h2>
                <p>
                    {{ D4 }}
                </p>
                <a href="{{ U4 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            <div class="a5">
                <img src="{{ I5}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T5}}</h2>
                <p>
                    {{ D5 }}
                </p>
                <a href="{{ U5 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            <div class="a6">
                <img src="{{ I6}}" width="260" height="170"
                class = "image-section-left" />
                <h2>{{ T6}}</h2>
                <p>
                    {{ D6 }}
                </p>
                <a href="{{ U6 }}">Link <i class="fas fa-chevron-right"></i></a>
            </div>
            <br>
            <br>
            <br>
            </div>

        <div class="sidebar close">
            <div class="logo-details">
                <i class='bx bx-menu' ></i>
            <span class="logo_name">CSite</span>
            </div>
            <ul class="nav-links">
            <li>
                <div class="iocn-link">
                <a href="/discover/Python">
                    <i class='bx bxl-python'></i>
                    <span class="link_name">Python</span>
                </a>
                </div>
            </li>
            <li>
                <div class="iocn-link">
                <a href="/discover/C++">
                    <i class='bx bxl-c-plus-plus'></i>
                    <span class="link_name">C++</span>
                </a>
                </div>
            </li>
            <li>
                <a href="/discover/C">

                <i class="fab fa-cuttlefish"></i>
                <span class="link_name">C</span>
                </a>
            </li>
            <li>
                <a href="/discover/Java">
                <i class="fab fa-java"></i>
                <span class="link_name">Java</span>
                </a>
            </li>
            <li>
                <div class="iocn-link">
                <a href="/discover/Javascript">
                    <i class='bx bxl-javascript'></i>
                    <span class="link_name">Javascript</span>
                </a>
            </li>
            <li>
                <a href="/discover/HTML">
                <i class='bx bxl-html5'></i>
                <span class="link_name">HTML</span>
                </a>
            </li>
            <li>
                <a href="/discover/CSS">
                <i class='bx bxl-css3' ></i>
                <span class="link_name">CSS</span>
                </a>
            </li>
            <li>
                <a href="/discover/MySQL">
                <i class='bx bxs-data'></i>
                <span class="link_name">MySQL</span>
            </li>
            <li>
        </li>
        </ul>
        </div>
        <section class="home-section">
            <div class="home-content">

            </div>
        </section>
        <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
        </script>
        <hr>
    </body>
</html>