<!DOCTYPE html>
<html>
    <head>
        <title>TheCSite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "stylesheet" type ="text/css" href = "overall.css">
        <link rel = "stylesheet" type ="text/css" href = "search.css">
        <link rel = "stylesheet" type ="text/css" href = "snow.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel = "stylesheet" type = "text/css" href = "discover.css">
    </head>

    <body>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <nav class="main-nav">
        <img src="CSiTE_idk.png" alt="Google" class="logo">

        <ul class="main-menu">
          <a href = 'home.html'><li>Home</li></a>
          <a href = '#'><li>Discover</li></a>
          <a href = 'about us.html'><li>About Us</li></a>
        </ul>

        <ul class="right-menu">
            <div class="searchbar" style="position: relative;">
                <div id="sb-search" class="sb-search"></div>
            <form action="">
                <input type="search" placeholder="Search here ...">
                <i class="fa fa-search"></i>
            </form>
            <ul>
            <a href='login.html'>Login/Register</a>
            </a>
            </ul>
        </ul>
        </nav>
        <hr>
        <br>

        <header class="box">
            <div class="search-heading">Search for the best course you want here!</div>
            <div class="searchbar" style="position: relative;">
                <div id="sb-search" class="sb-search"></div>
            <form action="">
                <input type="search" placeholder="Search here ...">
                <i class="fa fa-search"></i>
            </form>
        </header>

        <hr>
        <footer class="footer">
            <div class="footer-inner">
            <ul>
                <li><a href="#">Email Us</a></li>
                <li><a href="https://www.linkedin.com/in/the-csite-07b480222/">Linkedin</a></li>
                <li><a href="#">&copy; CSite</a></li>
            </ul>
            </div>
        </footer>
    </body>
</html>